* {
  /* seletor universal */
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  justify-content: center;
}

@media (min-width: 720px) {
  /* desktop */
  main {
    /* vw: viewport width, */
    background: url(images/desktop-container.svg) no-repeat center/cover;
    width: 22.375rem;
    min-height: 33.75rem;
    max-height: 650px;
    position: relative;
    margin-top: 4.5rem;
  }

  .ribbon {
    height: 10.25rem;
    position: absolute;
    z-index: 1;
    top: -3.5rem;
  }

  body {
    background: url(images/desktop-bg.svg) no-repeat center/cover;
    background-color: var(--black);
  }

  .avatar {
    margin: 4.5rem auto 0;
  }

  ul {
    margin-top: 2rem;
  }
}

@media (max-width: 720px) {
  /* mobile */
  main {
    /* vw: viewport width, */
    background: url(images/background.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
  }

  .avatar {
    margin: 11.5rem auto 0;
  }

  ul {
    margin-top: 4rem;
  }
  .ribbon {
    display: none;
  }
}

.container {
  /* margin, padding, border é box model! */
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.avatar {
  width: 10rem;
  position: relative; /* agora ele é o limite para a posição absolute */
  z-index: 2;
}

.avatar span {
  /* selo */
  position: absolute; /* sai do nível normal */
  top: -15px;
  z-index: 3; /* bota de volta para cima */
}

.avatar > img {
  /* procura a PRIMEIRA img que aparece */
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /* img cobre todo espaço, não estica*/
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center; /* alinha itens no eixo que cruza o principal */
}

p {
  margin-top: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  display: flex; /* automaticamente deixa um elemento ao lado do outro no eixo vertical */
  gap: 0.5rem; /* espaço entre eles */
  justify-content: center; /* alinhamento do eixo principal */
}
